// Set of color variables
$white: #fff;
$black: #000;
$dark: #222;
$lightGray: #777;
$darkBlue: rgb(4, 7, 76);


// Set of box-shadows
$box-shadow-1: 0 .125rem .25rem -.125rem rgb(0 0 0 / 40%);


// Set of transitions
$transition: all .4s ease-in-out;