// Importing partials files
@use '../../Partials/variables' as *;
@use '../../Partials/mixins' as *;

// Styling the navbar component
.desktop-nav {
    background-color: $blue;
    width: 100%;
    // padding: 0 4rem;
    .nav-header {
        @include flex-between;
        padding: 1rem 2rem;
        box-shadow: $box-shadow-1;
    
        .nav-logo {
            @include flex-center;
            gap: .25rem;
            cursor: pointer;

            img {
                width: 2.5rem;
            }
    
            a {
                color: $white;
                font: {
                    size: 1.25rem;
                    weight: 600;
                    family: "Poppins", sans-serif;
                }
            }
        }

        .search-bar {
            @include flex-center;
            
            input {
                padding: .75rem 2rem;
                font-weight: 500;
                width: 35rem;
                border: 2px solid $blue;
                outline: none;
                border-top-left-radius: .5rem;
                border-bottom-left-radius: .5rem;
            }

            .search-icon {
                background-color: $lightBlue;
                // color: $white;
                padding: .53rem .75rem;
                height: fit-content;
                font-size: 1.25rem;
                border-top-right-radius: .5rem;
                border-bottom-right-radius: .5rem;

                a {
                    color: $white;
                }
            }
        }

        .login-cart {
            @include flex-center;
            position: relative;
            gap: 1rem;

            img {
                cursor: pointer;
            }

            .sign {
                color: $white;
            }

            .nav-cart-count {
                @include flex-justify-center;
                position: absolute;
                top: 17%;
                left: 84%;
                width: 1.25rem;
                height: 1.25rem;
                // margin-top: -2.5rem;
                // margin-left: -1.875rem;
                border-radius: .75rem;
                font-size: .875rem;
                font-weight: bolder;
                color: $white;
                // background-color: red;
                // color: $white;
            }
        }
    }

    .nav-links {
        // margin-top: .75rem;
        background-color: $lightBlue;
        padding: .25rem .5rem;
        box-shadow: $box-shadow-1;

        .nav-menu {
            @include flex-center;
            gap: 1rem;
            color: $white;

            > li {
                position: relative;
                padding: 1rem .5rem;
                
                > .nav-items {
                    color: $white;
                }

                > .first {
                    @include flex-center;
                    gap: .25rem;
                    color: $white;
                }

                
                &:hover {
                    &::before {
                        content:'';
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: $white;
                        // border-radius: .25rem;
                    }
                }
            }
        }
    }
}