// Importing partials files
@use '../../Partials/variables' as *;
@use '../../Partials/mixins' as *;

// Styling the navbar component
.mobile-nav {
    background-color: $blue;
    width: 100%;

    .nav-header {
        @include flex-between;
        padding: 1rem 2rem;
        box-shadow: $box-shadow-1;

        @include breakpoint-down(small) {
            padding: 1rem;
        }
        
        .left-nav {
            @include flex-center;
            gap: .5rem;

            .nav-logo {
                @include flex-center;
                gap: .25rem;
                cursor: pointer;
    
                img {
                    width: 2.5rem;

                    @include breakpoint-down(medium) {
                        width: 2rem;
                    }

                    @include breakpoint-down(small) {
                        width: 1.5rem;
                    }
                }
        
                a {
                    color: $white;
                    font: {
                        size: 1.25rem;
                        weight: 600
                    }

                    @include breakpoint-down(medium) {
                        font-size: 1rem;
                    }

                    @include breakpoint-down(small) {
                        font-size: .875rem;
                    }
                }
            }

            .mobile-nav-links {
                .bars-menu-icon {
                    position: relative;
                    color: $white;
                    font-size: 1.5rem;

                    @include breakpoint-down(medium) {
                        font-size: 1.25rem;
                    }

                    @include breakpoint-down(small) {
                        font-size: 1.125rem;
                    }
                }

                .nav-links {
                    // margin-top: .75rem;
                    @include flex-column;
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 50%;
                    height: 100vh;
                    background-color: $lightBlue;
                    padding: .25rem .5rem;
                    box-shadow: $box-shadow-1;
                    transition: $transition;

                    &.showNavbar {
                        left: 0;
                    }

                    .times-icon {
                        color: $white;
                        font-size: 1.5rem;
                        margin: 1rem 1rem 0 0;
                        align-self: flex-end
                    }
            
                    .nav-menu {
                        @include flex-column;
                        // gap: 1rem;
            
                        li {
                            margin-top: 1.5rem;

                            a {
                                position: relative;
                                color: $white;
                                // padding: 1rem .5rem;
                                font-size: 1.125rem;
                                transition: $transition;
            
                                &.first {
                                    @include flex-center;
                                    column-gap: .25rem;
                                }
                                
                                &:hover {
                                    color: $dark;
                                }
                            }
                        }
                    }
                }
            }
        }

        .right-nav {
            @include flex-center;
            gap: 1.5rem;

            @include breakpoint-down(small) {
                gap: 1.25rem;
            }

            .search-bar {
                .search-icon {
                    position: relative;
                    color: $white;
                    font-size: 1.5rem;

                    @include breakpoint-down(medium) {
                        font-size: 1.25rem;
                    }

                    @include breakpoint-down(small) {
                        font-size: 1.125rem;
                    }
                }

                input {
                    // display: none;
                    position: absolute;
                    top: 70px;
                    right: 11.25rem;
                    padding: 1.125rem 2rem;
                    font-weight: 500;
                    width: 40rem;
                    border: 2px solid $lightBlue;
                    outline: none;
                    border-radius: .5rem;
                    background-color: #f3f1f1;
                    box-shadow: $box-shadow-1;
                    transition: $transition;

                    &.showInput {
                        top: 4.375rem;

                        @include breakpoint-down(medium) {
                            top: 3.75rem;
                        }
                    }

                    @include breakpoint-down(medium) {
                        top: -100%;
                        right: 50%;
                        transform: translateX(50%);
                        padding: .875rem 1.5rem;
                        width: 80%;
                    }
                }
            }

            .login-page {
                .login-icon {
                    position: relative;
                    color: $white;
                    font-size: 1.5rem;

                    @include breakpoint-down(medium) {
                        font-size: 1.25rem;
                    }

                    @include breakpoint-down(small) {
                        font-size: 1.125rem;
                    }
                }

                .login-holder {
                    @include flex-column;
                    position: absolute;
                    top: -100%;
                    right: 10rem;
                    background-color: $white;
                    padding: 1rem 2rem;
                    box-shadow: $box-shadow-1;
                    border-radius: .5rem;
                    transition: $transition;

                    &.showLoginHolder {
                        top: 4.375rem;

                        @include breakpoint-down(medium) {
                            top: 3.75rem;
                        }
                    }

                    @include breakpoint-down(medium) {
                        top: -100%;
                        right: 3rem;
                    }

                    a {
                        color: $white;
                        margin-top: 1rem;
                        background-color: $lightBlue;
                        padding: .5rem 1.5rem;
                        border-radius: .25rem;
                        font-size: 1.125rem;
                    }
                }
            }

            .login-cart {
                position: relative;
    
                img {
                    cursor: pointer;

                    @include breakpoint-down(medium) {
                        width: 2rem;
                    }

                    @include breakpoint-down(small) {
                        width: 1.75rem;
                    }
                }
    
                > a {
                    color: $white;
                }
    
                .nav-cart-count {
                    @include flex-justify-center;
                    position: absolute;
                    top: 18%;
                    left: 35%;
                    width: 1.25rem;
                    height: 1.25rem;
                    // margin-top: -2.5rem;
                    // margin-left: -1.875rem;
                    border-radius: .75rem;
                    font-size: .875rem;
                    font-weight: bolder;
                    color: $white;
                    // background-color: red;
                    // color: $white;

                    @include breakpoint-down(medium) {
                        top: 16%;
                        width: 1rem;
                        height: 1rem;
                        font-size: .75rem;
                    }

                    @include breakpoint-down(small) {
                        top: 14%;
                        left: 30%;
                        font-size: .6rem;
                    }
                }
            }
        }

    }
}